<form onsubmit="send()"  action="/postcaixa" method="POST">
    <h3>Pagamento no Caixa</h3>

    <fieldset>
        <legend>Favorecido</legend>
        <input class="" type="text" id="nome" placeholder="Nome" name="nome" required>
    </fieldset>
    <fieldset>
        <legend>Tipo</legend>
        <div style="display: flex; gap: 1rem;">
            <input type="radio" id="mat" name="mat" value="mat" required>
            <label for="">Material</label>
            <input type="radio" id="ins" name="mat" value="ins">
            <label for="">Inscrição</label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Descrição</legend>
        <select name="material" id="material" required>
            <option value=""></option>
            <% desc.forEach(item => { %>
            <option value="<%= item.desc %>">
                <%= item.desc %>
            </option>
            <% }) %>
        </select>
    </fieldset>

    <fieldset>
        <legend>Departamento</legend>
            <select name="depto" id="depto" required>
                <option value=""></option>
                <% depto.forEach(item => { %>
                <option value="<%= item.nun_depto %> - <%= item.nome_depto %>"><%= item.nome_depto %></option>
                <% }) %>
            </select>
    </fieldset>

    <fieldset>
        <legend>Valor</legend>
        <input class="" type="text" onInput="mascaraMoeda(event);" id="valor" placeholder="Valor" name="valor" required>
    </fieldset>
    <fieldset>
        <legend>Observações</legend>
        <textarea class="" id="obs" name="obs"></textarea>
    </fieldset>
    <br>
    <button class="btn btn-primary shadow d-block w-100" type="submit">Enviar</button>

    <input type="hidden" name="aprovacao" id="aprovacao" value="false">
    <input type="hidden" name="tipo" id="tipo" value="caixa">
    <input type="hidden" name="flag" id="flag" value="Pagamento no Caixa">
</form>