<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Caixa ASM</title>
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/iasdfavicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #000;
}

.content {
    margin: 0 auto;
    max-width: 900px;
    background-color: #eee;
    padding: 10px;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-content {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: #eee;
    padding: 0;
    box-shadow: 0 0 2px #fff;
}

.modal-header, .modal-body, .modal-footer{
    padding: 5px;
}

.modal-header{
    background-color: #ccc;
}

.modal-footer{
    background-color: #ccc;
}
@media print {
  .noPrint{
    display:none;
  }
}
</style>
<body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
    <nav class="noPrint">
        <%- include('./partials/nav'); %>
    </nav>
    <header class="bg-dark pt-5"></header>
    <section class="py-5" style="margin-top: -30px;margin-bottom: -60px;padding-bottom: 72px;">
        <div class="container text-center py-5" style="margin-top: -35px;margin-bottom: -38px;">
            <p class="mb-4" style="font-size: 1.6rem;"></p>
        </div>
    </section>
    <section>
        <div class="container bg-light py-5">
            <div class="d-flex justify-content-center"">
                <button onclick="window.print();" class="noPrint">Imprimir</button>
            </div>
            <br>
            <div class="row d-flex justify-content-center">
		<h3 style="color: #000;">Autorização de débito:</h3>
                <table style="color: #000;" class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Valor</th>
                        <th scope="col" class="noPrint">Documentos</th>
                      </tr>
                    </thead>
                    <% items.forEach(function(image) { %>                   
                    <tbody>
                        <tr>
                        <td><%= image.nome %></td>
                        <td><%= image.material%></td>
                        <td><%= image.depto %></td>
                        <td><%= image.valor %></td>
                        <td class="noPrint"><a onclick="openModal('<%=image.id%>')" class="link-primary">Anexo</a></td>
                        </tr>
                    </tbody>
                    <!---->
                    <div id="<%=image.id%>" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p>Nome: <%= image.nome %></p>
                            </div>
                            <div class="modal-body">
                                <object data="uploads/<%=image.img.name%>.pdf" type="application/pdf" width="550px" height="550px">
                                    <embed src="uploads/<%=image.img.name%>.pdf" type="application/pdf">
                                        <p>This browser does not support PDFs. Please download the PDF to view it: 
                                        <a href="uploads/<%=image.img.name%>.pdf">Download PDF</a>.</p>
                                    </embed>
                                </object>
                            </div>
                            <div class="modal-footer">
                                <a onclick="closeModal('<%=image.id%>')" class="link-warning">Fechar</a>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <% }) %>
                    </table>
                    </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
    <script>
        function openModal(mn) {
    let modal = document.getElementById(mn);

    if (typeof modal == 'undefined' || modal === null)
        return;

    modal.style.display = 'Block';
    document.body.style.overflow = 'hidden';
}

function closeModal(mn) {
    let modal = document.getElementById(mn);

    if (typeof modal == 'undefined' || modal === null)
        return;

    modal.style.display = 'none';
    document.body.style.overflow = 'auto';
}
</script>
</body>

</html>
